
body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('https://i.pinimg.com/564x/a9/0b/f7/a90bf77c6f06e3d0e8a96a8e58112eca.jpg');
  
  background-size: cover;
}

li{
  list-style: none;
}

summary{
  list-style-type: '+';
  color: #f7f4f4;
}

details[open] summary{
  list-style-type: '-';
}

@media  screen and (max-width: 530px){
  .img-blogs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .img-1{
    margin: auto;
    margin-top: 10px;
    
  }
  .img-0{
    margin: auto;
  }
}

