
body{
  margin: 0;
  background-image: url('https://i.pinimg.com/564x/23/c7/1d/23c71d78b37d1ef9dfdb3d6ffd9d6243.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

li{
  list-style: none;
}

summary{
  list-style-type: '+';
  color: #080808;
}

details[open] summary{
  list-style-type: '-';
}

