
body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxqR89XjK-PJ8Lm6BrdAFPwLKTy35CfupY4J15QSZ4-g&s');
  
  background-size: cover;
}

li{
  list-style: none;
}

summary{
  list-style-type: '+';
  color: #f7f4f4;
}

details[open] summary{
  list-style-type: '-';
}

@media  screen and (max-width: 530px){
  .reading{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;
    margin-top: 10px;
  }
  .img-blogs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .img-1{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;
    margin-top: 10px;
    
  }
  .img-inscrever{
    width: 1%;
  }
  .button{
    font-size: small;
  }

  .error-user{
    font-size: small;
  }
  .img-0{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;
  }
  .blogs{
    display: flex;
    flex-direction: column;
  }
  .results{
    width: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
  }
  .all{
    font-size: small;
  }
  summary{
    font-size: small;
  }
  fieldset{
    width: 100%;
    font-size: small;
  }
  .discriminacao{
    width: 100%;
    font-size: small;
  }
  legend{
    width: 100%;
    font-size: small;
  }
}

